
.labelTitle
{
    -fx-text-fill: #000000;
}

.labelSubTitle
{
    -fx-text-fill: #919191;
}

.pane
{
    -fx-background-color: #fff;
}

.button1
{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-background-radius: 20;
}
.button1:hover
{
    -fx-text-fill: #2C003E;
    -fx-border-color: #919191;
}
.button1:pressed
{
    -fx-text-fill: #776D90;
}
.button1:active
{
    -fx-text-fill: #2C003E;
}
.buttonSalir
{
    -fx-background-color:  #2C003E;
}
.buttonSalir:hover
{
    -fx-background-color:  #E81123;
}
.buttonSalir:pressed
{
    -fx-background-color: #E81123;
}
.butonMinimizar
{
     -fx-background-color:  #2C003E;
}

.butonMinimizar:pressed
{
    -fx-background-color: #2D75E8;
}
